$bg-black: hsl(0, 0%, 0%);

$element-bg: hsl(0, 0%, 10%);
$element-bg-light: hsl(0, 0%, 20%);
$element-details: hsl(0, 0%, 25%);

$invisible: hsla(0, 0%, 0%, 0);

$petrol-transparent: hsla(180, 80%, 50%, 0.7);
$petrol-transparent-light: hsla(180, 100%, 50%, 0.5); //scroll bar

$petrol-solid: hsl(182, 54%, 27%);
$petrol-glow: hsl(182, 90%, 50%);

$gradient1: hsl(56, 100%, 56%);

$text: hsl(0, 0%, 95%);
$text-grey: hsl(0, 0%, 60%);
