@use "var" as *;

/*header bild*/

header {
  min-height: 100vh;
  background:
    linear-gradient($petrol-transparent, rgba(0, 0, 0, 0.7)),
    url(/img/headerBackground.webp) center/cover no-repeat;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;

  justify-content: space-evenly;

  position: relative;
  top: calc(50vh);
  left: calc(50%);
  transform: translateY(-50%);

  height: 380px;
  width: 40vw;

  backdrop-filter: blur(5px);
  box-shadow: inset 0 2px 4px hsl(0, 0%, 30%);

  border-radius: 25px;
  transition: 500ms;

  h1,
  h2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    line-height: 40px;
  }
  h2 {
    line-height: 34px;
  }

  .line {
    height: 4px;
    width: 80%;

    border-radius: 2px;

    background-color: $element-details;
  }
  .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .bannerLink {
      height: 20px;
      width: 100px;

      padding: 5px;

      align-content: center;
      font-weight: bold;
      text-decoration: none;

      border: 2px solid $text;
      border-radius: 20px;
      transition: 1000ms;
      &:hover {
        background-color: $text;
        color: $element-bg-light;
        span {
          color: $element-bg-light;
        }
      }
      span {
        transition: 1000ms;
      }
    }
  }
}
@media (max-width: 600px) {
  .bannerGrid {
    display: flex;
  }
  .banner {
    width: 80vw;

    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
}

@supports (corner-shape: squircle) {
  .banner {
    corner-shape: squircle;
    border-radius: 120px;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.borderAnimation {
  background:
    linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%)) padding-box,
    conic-gradient(
        from var(--angle),
        $invisible 0%,
        $gradient1 10%,
        $invisible 20%,
        $invisible 50%,
        $gradient1 60%,
        $invisible 70%
      )
      border-box;
  border: solid 2px transparent;

  animation: 3s linear rotation infinite;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }
}
@keyframes rotation {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
