@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$bg-black: hsl(0, 0%, 0%);
$bg-grey: hsl(0, 0%, 15%);

$invisible: hsla(0, 0%, 0%, 0);

$petrol-transparent: hsl(180, 80%, 50%, 0.5);
$petrol-transparent-light: hsla(180, 100%, 50%, 0.5);
$petrol-ultra-transparent: hsla(182, 63%, 54%, 0.2);
$petrol-dark-transparent: hsla(182, 63%, 54%, 0.25);

$petrol-solid: hsl(182, 54%, 27%);
$petrol-glow: hsl(182, 90%, 50%);

$gradient1: hsl(56, 100%, 56%);

$text: hsl(0, 0%, 95%);
$text-grey: hsl(0, 0%, 60%);

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  color: $text;
  scroll-behavior: smooth;
}
html {
  width: 100%;
}

// scrollbar farbe if supported by browser
@supports (scrollbar-color: $petrol-transparent-light $bg-black) {
  * {
    scrollbar-color: $petrol-transparent-light $bg-black;
  }
}

body {
  background-color: $bg-black;
}
@media (min-width: 1000px) {
  main {
    padding-left: calc(calc(100vw - 1000px) / 2);
    padding-right: calc(calc(100vw - 1000px) / 2);
  }
}

section.contentSection {
  padding-top: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.highlightText {
  color: $gradient1;
}

.infotext {
  width: calc(100% - 100px);
  padding: 25px;
  margin: 25px;

  background-color: $bg-grey;
  border-radius: 25px;

  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 2px hsl(0, 0%, 30%);

  text-wrap: balance;

  font-size: larger;
  overflow: hidden;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 80px);
  grid-gap: 20px;
  padding: 20px;
}
.technology {
  height: 80px;
  gap: 20px;

  display: flex;
  flex-direction: row;

  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 2px hsl(0, 0%, 30%);
  border-radius: 20px;
  &:hover {
    background: linear-gradient(0deg, hsl(0, 0%, 10%), hsl(0, 0%, 15%));
  }
  p {
    margin: 10px;
    margin-left: 0px;
    font-weight: 500;
    line-height: 28px;

    span {
      color: $text-grey;
      font-weight: 400;
    }
  }
  .line {
    height: 60px;
    width: 2px;
    margin-top: 10px;

    border-radius: 1px;

    background-color: hsl(0, 0%, 50%);
  }
  .logo {
    width: 60px;
    height: 60px;
    margin: 10px;
    margin-right: 0px;
  }
  .js {
    border-radius: 8px;
  }
  .scratch {
    transition: ease-out all 600s;
    &:hover {
      transform: translateY(-30000px);
    }
  }
  .react {
    transform: rotate(var(--angle));
    animation: 60s linear rotation infinite;
  }
}
@media (max-width: 900px) {
  .technologies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 80px);
  }
}
@media (max-width: 600px) {
  .technologies {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 80px);
  }
}

/* -----------------------------------------------------------------------------projekte 
*/

.projektContainer {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  .projekt {
    margin: 20px;
    padding-bottom: 0px;
    position: relative;

    background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
    box-shadow: inset 0 1px 1px hsl(0, 0%, 30%);
    border-radius: 40px;

    h3 {
      padding: 20px;
      text-align: center;
    }
    p {
      height: 20px;
      margin: 20px;
      gap: 8px;
      span {
        margin-right: 8px;
        padding: 8px;
        background-color: hsl(0, 0%, 15%);
        border-radius: 8px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      a {
        width: calc(50% - 30px);
        height: 40px;
        margin: 20px;
        padding: 5px;

        background-color: $petrol-solid;
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        line-height: 20px;
        font-size: 20px;
        font-weight: 600;
      }
      .github {
        background-color: hsl(0, 0%, 20%);
        margin-left: 0px;
      }
    }
  }
}
@media (max-width: 600px) {
  .projektContainer {
    grid-template-columns: 1fr;
  }
}
