@use "var" as *;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  color: $text;
  scroll-behavior: smooth;
}
html {
  width: 100%;
}

// scrollbar farbe if supported by browser
@supports (scrollbar-color: $petrol-transparent-light $bg-black) {
  * {
    scrollbar-color: $petrol-transparent-light $bg-black;
  }
}

body {
  background-color: $bg-black;
}
@media (min-width: 1000px) {
  main {
    padding-left: calc(calc(100vw - 1000px) / 2);
    padding-right: calc(calc(100vw - 1000px) / 2);
  }
}

section.contentSection {
  padding-top: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.highlightText {
  color: $gradient1;
}

.infotext {
  width: calc(100% - 100px);
  padding: 25px;
  margin: 25px;

  border-radius: 25px;

  background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
  box-shadow: inset 0 1px 2px hsl(0, 0%, 30%);

  text-wrap: balance;

  font-size: larger;
  overflow: hidden;
}
