@use "var" as *;

.projektContainer {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  .projekt {
    margin: 20px;
    padding-bottom: 0px;
    position: relative;

    background: linear-gradient(0deg, hsl(0, 0%, 5%), hsl(0, 0%, 10%));
    box-shadow: inset 0 1px 1px hsl(0, 0%, 30%);
    border-radius: 40px;

    h3 {
      padding: 20px;
      text-align: center;
    }
    p {
      height: 20px;
      margin: 20px;
      gap: 8px;
      span {
        margin-right: 8px;
        padding: 8px;

        background-color: $element-bg;
        border: 2px solid $element-details;
        border-radius: 8px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      a {
        width: calc(50% - 30px);
        height: 40px;
        margin: 20px;
        padding: 5px;

        background-color: $petrol-solid;
        border: 2px solid $petrol-transparent-light;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        line-height: 20px;
        font-size: 20px;
        font-weight: 600;

        transition: 500ms;
        &:hover {
          background-color: $petrol-transparent;
        }
      }
      .github {
        background-color: $element-bg;
        border: 2px solid $element-details;
        margin-left: 0px;
        &:hover {
          background-color: $element-bg-light;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .projektContainer {
    grid-template-columns: 1fr;
  }
}
