@use "var" as *;

.stackRow {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 16px;
  gap: 16px;
}
.stackItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 20px;
  padding: 10px;
  gap: 10px;

  border-radius: 8px;

  background-color: $element-bg;
  border: 2px solid $element-details;

  img {
    height: 20px;
  }
  .line {
    width: 2px;
    height: 150%;

    border-radius: 2px;
    background-color: $element-details;
  }
}
