@use "var" as *;

.stackSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .stackSection {
    flex-direction: column;
    align-items: center;
  }
}
.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;

  margin: 16px;
  gap: 16px;
}
.stackItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 20px;
  padding: 10px;
  gap: 10px;

  border-radius: 8px;

  background-color: $element-bg;
  border: 2px solid $element-details;

  img {
    width: 24px;
    border-radius: 2px;
  }
  .line {
    width: 2px;
    height: 150%;

    border-radius: 2px;
    background-color: $element-details;
  }
  p {
    color: $text-grey;
    font-weight: 500;
  }
}
